nav{
display: flex;
align-items: center;
}
main{
height: auto;
}
*{
margin: 0 auto;
}
header, nav, main, footer{
width: auto;
padding: 10px 20px;
box-sizing: border-box;
}
.evergane{
color: #000000;
margin-left: 70px;
font-weight: 1000;
font-size: 220%;
padding: 5px;
}
nav a#ped-button{
border: 2px solid #000000;
}
nav a#ped:hover{
background-color: #000000;
}
nav a{
text-decoration: none;
font-size: 115%;
font-weight: 800;
padding: 5px;
margin-inline: 15px;
}
nav a:hover{
background-color: #000000;
color: rgb(255, 255, 255);
}
.home{
width: auto;
height: 20px;
text-align: center;
font-size: small;
padding: 235px 235px;
}
.comida{
margin-top: -80px;
text-align: center;
font-size: 70px;
font-weight: 70;
}
.natural{
margin-top: -30px;
text-align: center;
font-size: 120px;
font-weight: 70;
}
.home-button, .sobre-button, .local a#local-button{
font-size: small;
padding: 5px;
text-decoration: none;
border: 2px solid #000000;
}
.home-button:hover, .sobre-button:hover, .local a#local-button:hover{
color: #ffffff;
background-color: #000000;
}
.sobre{
width: auto;
text-align: left;
padding: 5% 9%;
height: 500px;
}
.local{
text-align: left;
padding: 20% 10%;
}
.footer{
padding: 20px 30px;
text-align: right;
}
/* MENU */
.menu{
height: auto;
}
.menu h1{
margin: 0;
text-align: center;
font-size: 80px;
font-weight: 70;
}
.menu-box h1{
font-size: 50px;
font-size: 40px;
}
.menu a#menu-tipo{
font-weight: 70;
font-size: 20px;
padding: 5px;
right: 50px;
flex: 40px;
justify-content: center;
display: flex;
}
.menu-box{
max-width: 800px;
margin: 0 auto;
padding: 20px;
}
.menu-item{
display: flex;
align-items: center;
margin-bottom: 20px;
}
.menu-item img{
max-width: 280px;
margin-right: 20px;
}
.menu-item h2{
margin: 0;
font-size: 24px;
}
.menu-item p{
margin: 0;
font-size: 16px;
}
.menu-button{
display: flex;
justify-content: center;
font-size: small;
padding: 5px;
text-decoration: none;
border: 2px solid #000000;
width: fit-content;
}
/* CARDAPIO ONLINE */
.cardapio-body{
width: auto;
padding: 3px;
box-sizing: border-box;
font-weight: 100;
font-size: small;
}
.cardapio-card h1{
font-size: 60px;
font-weight: 100;
}
.menu-container{
list-style: none; 
padding: 0;
}
.menu-card{
margin-top: 20px;
display: inline-block;
margin-right: 10px;
}
.cardapio-card h1{
margin: 0;
}
.cardapio-card{
width: 40%;
margin: 20px auto;
padding: 20px;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
height: 90vh;
}
.menu-card{
flex-basis: 45%; 
}
.menu-card ul{
list-style: none;
padding: 0;
}
.menu-card li{
margin: 10px 0;
display: flex;
justify-content: space-between;
align-items: center;
}
.prato{
font-weight: 700px;
font-size: medium;
}
.preco{
font-weight: bold;
}
/* PEDIDOS */
.pedido{
padding: 20px;
}
.pedido h1{
margin-top: 50px;
text-align: center;
font-size: 80px;
font-weight: 70;
}
.pedido h3{
text-align: center;
font-size: 30px;
font-weight: 200;
}
.pedido-item {
margin: 10px;
padding: 10px;
display: flex;
justify-content: space-between;
}
.pedido-item img{
max-width: 200px;
max-height: 200px;
margin-right: 10px;
padding-inline: 9px;
}
.pedido-pair{
display: flex;
justify-content: space-between;
margin-bottom: 20px;
width: 950px;
}
.pedido-pair .pedido-item{
flex: 1;
}
.pedido-pair .pedido-item h2:hover{
color: rgb(51, 255, 0);
}
/* SUPORTE */
.suporte{
height: auto;
width: auto;
padding: 10px 20px;
box-sizing: border-box;
}
.suporte h1{
margin-top: 40px;
font-size: 45px;
text-align: center;
font-size: 80px;
font-weight: 70;
}
.suporte h3, .suporte p{
font-size: medium;
}
.suporte h2{
font-weight: 900;
margin-left: 20px;
}
.perguntas-suporte{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin: 20px;
}
.perguntas{
width: 48%;
padding: 10px;
border: 1px solid #000000;
margin-bottom: 10px;
}
.form-suporte h1{
text-align: center;
margin-top: auto;
font-size: 45px;
}
.form-suporte label, .form-suporte p{
text-align: center;
}
.form-suporte p{
margin-bottom: 20px;
}
.form-suporte, .form-suporte h2{
align-content: center;
padding: 20px 360px;
}
.boxx{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: auto;
}
.form-suporte input, textarea, .subtn{
border: 2px solid #000000;
margin: 0 auto; 
width: 80%;
padding: 20px;
}
.form-suporte button{
border: 2px solid rgb(0, 0, 0);
margin-top: -50px;
padding: 6px;
text-align: center;
width: fit-content;
margin-top: -20px;
font-size: 15px;
}