nav{
    display: flex;
    align-items: center;
    }
    main{
    height: auto;
    }
    *{
    margin: 0 auto;
    }
    header, nav, main, footer{
    width: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    }
    .evergane{
    color: #000000;
    margin-left: 70px;
    font-weight: 1000;
    font-size: 180%;
    padding: 5px;
    }
    nav a#ped-button{
    border: 2px solid #000000;
    }
    nav a#ped:hover{
    background-color: #000000;
    }
    nav a{
    text-decoration: none;
    font-size: 115%;
    font-weight: 800;
    padding: 5px;
    margin-inline: 15px;
    }
    nav a:hover{
    background-color: #000000;
    color: rgb(255, 255, 255);
    }
    .home{
    width: auto;
    height: 20px;
    text-align: center;
    font-size: small;
    padding: 235px 235px;
    }
    .comida{
    margin-top: -80px;
    text-align: center;
    font-size: 70px;
    font-weight: 70;
    }
    .natural{
    margin-top: -30px;
    text-align: center;
    font-size: 120px;
    font-weight: 70;
    }
    .home-button, .sobre-button, .local a#local-button, .homepedido-button{
    font-size: small;
    padding: 5px;
    text-decoration: none;
    border: 2px solid #000000;
    }
    .home-button:hover, .sobre-button:hover, .homepedido-button:hover, .local a#local-button:hover{
    color: #ffffff;
    background-color: #000000;
    }
    /* SCROLL HOME */
    .sobre-home{
    width: auto;
    text-align: left;
    padding: 5% 9%;
    height: 400px;
    }
    .menu-home{
    width: auto;
    text-align: left;
    padding: 5% 10%;
    height: 500px;
    }
    .footer{
    padding: 20px 30px;
    text-align: right;
    }
    /* HORARIOS E LOCAL */
    .horarios-local{
    display: flex;
    justify-content: space-between;
    height: inherit;
    }
    .imagem-local{
    width: 300px;
    max-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/imagem-fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left left;
    text-align: left;
    margin-left: 30px;
    font-size: small;
    padding: 80px 80px;
    }
    .local{
    text-align: left;
    padding: 15% 10%;
    }
    /* MENU */
    .menu{
    height: auto;
    }
    .menu h1 {
    margin: 0;
    text-align: center;
    font-size: 80px;
    font-weight: 70;
    }
    .menu-href {
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .menu-href a{
    font-weight: 70;
    font-size: 20px;
    padding: 5px;
    }
    .menu-href a:hover{
    background-color: #ffffff;
    color: #000000;
    border-radius: 20px;
    text-decoration: none;
    }
    .menu-box {
    margin: 0 auto;
    padding: 20px;
    width: fit-content;
    }
    .menu-box h1{
    font-weight: 200px;
    font-size: x-large;
    margin-top: 50px;
    margin-bottom: 50px;
    }
    .menu-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    }
    .menu-item img {
    max-width: 280px;
    margin-right: 20px;
    }
    .menu-item h2 {
    margin: 0;
    font-size: 20px;
    }
    .menu-item p {
    margin: 0;
    font-size: 16px;
    font-style: italic;
    }
    .menu-item h2, .menu-item p, .menu-box h1{
    font-weight: 100;
    }
    .menu-item h2:hover{
    color: #3700ff;
    }
    .menu-button{
    font-size: small;
    padding: 5px;
    text-decoration: none;
    display: flex;
    justify-self: center;
    width: fit-content;
    }
    .menu-button:hover{
    color: #ffffff;
    background-color: #000000;
    }
    /* CARDAPIO ONLINE */
    .cardapio-body{
    width: auto;
    padding: 50px;
    box-sizing: border-box;
    font-weight: 100;
    font-size: small;
    }
    .cardapio-card h1{
    font-size: 70px;
    font-weight: 100;
    }
    .menu-card h2{
    margin-top: 30px;
    }
    .menu-container{
    list-style: none; 
    padding: 0;
    }
    .menu-card {
    margin-top: 20px;
    display: inline-block;
    margin-right: 10px;
    padding: 5px;
    }
    .cardapio-card h1 {
    margin: 0;
    }
    .cardapio-card{
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 600px;
    }
    .menu-card{
    flex-basis: 45%; 
    }
    .menu-card ul {
    list-style: none;
    padding: 0;
    }
    .menu-card li {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .prato{
    font-weight: 700px;
    font-size: medium;
    }
    .descricao{
    font-style: italic;
    }
    .preco{
    font-weight: bold;
    }
    /* SUPORTE */
    .suporte{
    height: auto;
    width: auto;
    padding: 10px 30px;
    box-sizing: border-box;
    }
    .suporte h1{
    margin-top: 40px;
    font-size: 45px;
    text-align: center;
    font-size: 80px;
    font-weight: 70;
    }
    .suporte h3, .suporte p{
    font-size: medium;
    }
    .suporte h2{
    font-weight: 900;
    margin-left: 70px;
    }
    .perguntas-suporte{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
    }
    .perguntas{
    width: 40%;
    padding: 10px;
    border: 1px solid #000000;
    margin-bottom: 10px;
    }
    .form-suporte h1{
    text-align: center;
    margin-top: auto;
    font-size: 38px;
    }
    .form-suporte label, .form-suporte p{
    text-align: center;
    }
    .form-suporte p{
    margin-bottom: 20px;
    }
    .form-suporte, .form-suporte h2{
    align-content: center;
    padding: 20px 360px;
    }
    .boxx{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    }
    .form-suporte input, textarea, .subtn{
    border: 2px solid #000000;
    margin: 0 auto; 
    width: 80%;
    padding: 20px;
    }
    .form-suporte button{
    border: 2px solid rgb(0, 0, 0);
    margin-top: -50px;
    padding: 6px;
    text-align: center;
    width: fit-content;
    margin-top: -20px;
    font-size: 15px;
    }